.btn {
  background-color: #87B9F6;
  color: #04274C;
  display: block;
  font-size: 1.25rem;
  padding: 0.5em;
  font-weight: bold; }

@keyframes pulse {
  from {
    background-color: #87B9F6; }
  50% {
    background-color: white; }
  to {
    background-color: #87B9F6; } }

.press_me {
  animation: pulse 1s linear infinite; }
