.brick {
  background-color: goldenrod;
  position: absolute;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: darkgoldenrod;
  box-sizing: border-box;
  z-index: -1; }

.brick.brick_preview {
  width: 25%;
  height: 50%; }

.brick_dead {
  background-color: darkblue;
  border: 1px solid black;
  background-image: url("../rock3.jpg"); }
