@import '../colors.scss';

.brick {
	background-color: $color-brick;
	position: absolute;
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: $color-brick-border;
	box-sizing: border-box;
	z-index: -1;
}

.brick.brick_preview {
	width: 25%;
	height: 50%;
}

.brick_dead {
	background-color: $color-brick-dead;
	border: 1px solid $color-brick-dead-border;
	background-image: url('../rock3.jpg');
}