$background: #F5F7FA;
$color-main:  #0a1612;
$color-widget: #87B9F6;
$color-secondary: #04274C;
$color-brick: #550C18;
$color-brick-border: #3E0912;
$color-brick-dead: #2F070E;
$color-brick-dead-border: #1F0509;
$color-well-border: #202020;
$color-well-shadow:rgba(32,32,32,0.8);
$color-modal-background: #FBFCFD;
