$background: #c5c1c0;
$color-main:  #0a1612;
$color-btn: #f7c331;
$color-btn-front: #1a2930;
$color-brick: goldenrod;
$color-brick-border: darkgoldenrod;
$color-brick-dead: darkblue;
$color-brick-dead-border: black;

$well-border-color: #0a1612;
$well-shadow-color:rgba(10,22,18,0.8);
