$background: #c5c1c0;
$color-main:  #0a1612;
$color-widget: #f7c331;
$color-secondary: #1a2930;
$color-brick: goldenrod;
$color-brick-border: darkgoldenrod;
$color-brick-dead: darkblue;
$color-brick-dead-border: black;
$color-well-border: #0a1612;
$color-well-shadow:rgba(10,22,18,0.8);
$color-modal-background: #FEFCFB;
